body{
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 100px;
    color: aliceblue;
    text-shadow:  2px 2px black;
    backdrop-filter: brightness(.5);
    letter-spacing: 3px;
}

.btn{
   background-color: black;
   color: white;
   padding: 20px 40px;
   font-size: 25px;
   border: 4px solid ;
   border-radius: 10px;
   transition: 1s background-color;
   cursor: pointer;
   white-space: nowrap;
}

.btn:hover{
    background-color: white;
    color: black;
}

.split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: aqua;
    background-image: url("1.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

.split.right{
    position: absolute;
    right: 0;
    background-color: palevioletred;
    background-image: url("2.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    
}

.active-left .left{
    width:75%
}

.active-left .right{
    width:25%
}

.active-right .left{
    width:25%
}

.active-right .right{
    width:75%
}

.left, .right{
    transition: width 2s ease-in-out;
}
 
